@import '../../styles.scss';

header {
    background-color: $primary-color;
    height: $height-header;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    position: fixed;
}

nav {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.logo {
    font-family: 'Lobster', cursive;
    color: $fifth-color;
    font-size: 2rem;
}

.btn-menu {
    position: absolute;
    font-size: 2rem;
    z-index: 1;
    right: 2rem;
}

.nav-activate {
    position: absolute;
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    top: 0;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 10px $fifth-color;
    transform: translateX(110%);
    transition: all .5s ease-out;
    z-index: 20;
}

.nav-activate .logo {
    font-family: 'Lobster', cursive;
    height: 20vh;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 3rem;
}

.activate {
    transform: translateX(0);
}

.nav-activate ul {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    justify-content: flex-start;
}

.nav-activate ul li {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-activate ul li .menu-active{
    background-color: $fourth-color;
    color: $secondary-color;
}

.nav-activate ul li a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

#back-menu{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 5;
}

.back-menu-activate{
    display: block !important;
}