@import '../../styles.scss';

footer {
    align-items: center;
    background-color: $fourth-color;
    color: $secondary-color;
    display: flex;
    height: $height-footer;
    font-weight: 700;
    justify-content: center;
    width: 100%;
    z-index: 5;
}

.logo-footer {
    font-family: 'Lobster', cursive;
}